{% extends 'todo/main.html' %}

{% block content %}
<div class="container">
        <div class="row">
            <div class="card">

                <div class="card-content">
                    <span class="card-title"> <h4>About</h4></span>
                    <hr>
                    <div class="row">
                       <p>I am Ahmad Basha, persuing graduation in Computer Science.</p>
                       <p>I am interested in building real life projects.</p>
                       <p>I am a beginner to django</p>
                       <p>It is my first mini project</p>
                       <p>You can find source code of this project in my github repository <a href="https://github.com/ahmadshaik1106/django-todo">Here</a> </p>
                    </div>
                </div>
                    
        </div>
    </div>
</div>
{% endblock %}