{% extends 'todo/main.html' %}

{% block content %}
<div class="container">
        <div class="row">
            <div class="card">

                <div class="card-content">
                    <span class="card-title"> <h4>Contact Me</h4></span>
                    <hr>
                    <div class="row">
                       
                        <p>Phone :+91-630-256-5774</p>
                        <p>Email :ahmad.shaik1106@gmail.com</p>

                </div>
            </div>       
        </div>
    </div>
</div>

{% endblock %}