{% extends 'todo/main.html' %}

{% block content %}
<div class="container">
        <div class="row">
            <div class="card">

                <div class="card-content">
                    <span class="card-title"> <h4>Delete</h4></span>
                    <div class="row">
                       
                        <h5>Do you want to delete <strong>"{{ task.name }}"</strong>?</h5>
                        <hr>
                        <form action="" method=POST>{% csrf_token %}
                            <a href="{% url 'home' user.id %}" class="btn right" >Back</a>
                            <input type="submit" value="Confirm" class="btn red right" style="margin-right: 5px;" >
                        </form>
                        
                    </div>
                </div>
                    
                </div>
            </div>
        </div>
    </div>
{% endblock %}