
<footer class="page-footer teal">
    <div class="container">
        <div class="row">
        <div class="col l6 s12">
            <h5 class="white-text">Description</h5>
            <p class="grey-text text-lighten-4">It a multi user Todo app with User Authentication,Restrictions,User Permissions</p>
            <p class="grey-text text-lighten-4">Frontend used in this project is materialize css,main page of this app is inspired by a tutorial of Brad Traversy</p>
            <p  class="grey-text text-lighten-4">Backend used in this project is Django</p>
        </div>
        <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Links</h5>
            <ul>
            <li><a class="grey-text text-lighten-3" href="{% url 'about' %}" target="_blank">About Us</a></li>
            <li><a class="grey-text text-lighten-3" href="{% url 'contact' %}" target="_blank">Contact</a></li>
            <li><a class="grey-text text-lighten-3" href="https://github.com/ahmadshaik1106/" target="_blank">github</a></li>

            </ul>
        </div>
        </div>
    </div>
</footer>
    
