{% extends 'todo/main.html' %}

{% block content %}
<div class="container">
        <div class="row">
            <div class="card">

                <div class="card-content">
                    <span class="card-title">Login</span>
                    <div class="row">
                          
                            <form action="" method="POST" id='taskForm'>{% csrf_token %}
                                {{ form }}                               
                                <input type="submit" value="Login" class="btn block col s12" style="margin-bottom: 15px;margin-top: 10px;">

                            </form>
                        <span>Create an Account?<a href="{% url 'register' %}" style="margin-left: 5px;">Register Here</a></span>
                    </div>
                </div>
                    
                </div>
            </div>
        </div>
   
        <div class="container">{% include 'todo/footer.html' %}</div>

{% endblock %}